@tailwind base;
@tailwind components;
@tailwind utilities;

/* [추가] 전역 스타일 초기화 */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 화면 전체 스크롤을 강제로 막습니다 */
}